[submodule "external/osqp"]
	path = external/osqp
	url = https://github.com/osqp/osqp/tree/a2c792b86c20611e99e58f4e548d487b947ff4df
[submodule "external/odeint-v2"]
	path = external/odeint-v2
	url = https://github.com/headmyshoulder/odeint-v2/tree/db8b39ae27346e501941bf705362a1f4879b653c
