CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json
build/
build-debug/
build-release/
.vscode
vcpkg_installed
run.sh
build_and_run.sh
build.sh
.idea/
.cmake/
test_coverage.sh
CLAUDE.md
scripts
coverage*
*.log
*.profraw
.cache
shaders/*.spv
sauceengine_settings.json



# Experimental/temporary files
ModelLoader.cpp

