CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json
build/
.vscode
vcpkg_installed
run.sh
build_and_run.sh
build.sh
.idea/
.cmake/
test_coverage.sh
scripts
coverage*
*.log
*.profraw
src/.DS_Store
include/.DS_Store
.DS_Store
